/* inpostazioni generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px 5%;
}

/* intestazione pagina */
.maintitle {
    height: 100px;
    /* regole di debug */
    background-color: plum;
}

/* contenuto pagina */
.incipit {
    margin: 20px 0;
    /* regole di debug */
    height: 400px;
    background-color: sandybrown;
}

.container {
    margin: 10px 0;
    /* regole di debug */
    background-color: royalblue;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container > *{
    margin-bottom: 20px;
}

.subtitle {
    height: 80px;
    /* regole di debug */
    background-color: skyblue;
}

.correlati {
    float: right;
    height: 450px;
    width: 15%;
    /* regole di debug */
    background-color: skyblue;
}

.contenuto {
    float: right;
    width: 66%;
    margin: 0 2%;    
    /* regole di debug */
    height: 450px;

    background-color: skyblue;
}

/* footer */
footer {
    height: 60px;
    /* regole di debug */
    background-color: rebeccapurple;
}